.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &_image-container {
    position: relative;

    &_image {
      width: 100%;
      object-fit: cover;
    }

    &_arrow-buttons {
      @include center-row;
      width: fit-content;
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;
      
      &_left, &_right {
        background-color: $black;
        width: 1rem;
        padding: 1.5rem 2rem;
        transition-duration: 200ms;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &_content {
    @include center-column;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
    // flex-grow: 1;

    &_container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      &_header {
        @include spartan(600);
        font-size: 3rem;
      }
  
      &_description {
        color: $grey;
        font-size: 1.24rem;
        line-height: 1.75rem;
      }
  
      &_button {
        @include spartan(600);
        color: $darkGrey;
        font-size: 1.25rem;
        letter-spacing: 1rem;
        text-align: left;
        background: none;
        border: none;
        padding: 1.5rem 0;
  
        img {
          margin-left: 1rem;
        }
      }
    }

  }
}

@media (min-width: 481px) {
  .hero {
    height: auto;
  }
}

@media (min-width: 889px) {
  .hero {
    flex-direction: row;

    &_image-container {
      width: 60%;

      &_image {
        height: 100%;
      }
    }

    &_content {
      width: 40%;

      &_container {
        max-width: 33rem;

        &_header {
          font-size: 3.5rem;
        }
      }
    }
  }
}