@import "about";
@import "hero";

.homepage {
  height: 100vh;
}

@media (min-width: 889px) {
  .homepage {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 65% 35%;
  }
}