@import "about";
@import "hero";

.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 889px) {
  .homepage {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
}