@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

@mixin spartan($font-weight: 500) {
  font-family: 'League Spartan', sans-serif;
  font-weight: $font-weight;
}

p, span, h1, h2, h3, h4 {
  margin: 0;
}

// available font-weights: 500, 600, 700