@mixin border($color) {
  border: 1px solid $color;
}

@mixin center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin navUnderline($color) {
  &::before {
    position: absolute;
    content: "";
    background-color: $color;
    left: 0;
    right: 0;
    width: 0;
    height: 0.25rem;
    margin: auto;
    transform: translateY(2rem);
    transition: width 250ms ease-out;
  }

  &:hover {
    &::before {
      width: 100%;
    }
  }
}