@import "abstracts";
@import "components";

html {
  body {
    @include spartan;
    margin: 0;
    height: 100vh;
    background-color: rebeccapurple;

    a {
      text-decoration: none;
    }

    .App {
    }
  }
}
:root {
  font-size: 12px;
}