@import "abstracts";
@import "components";

html {
  body {
    @include spartan;
    margin: 0;
    height: 100vh;
    background-color: rebeccapurple;

    .App {
    }
  }
}
:root {
  font-size: 12px;
}